<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
    $('select').formSelect();
    });
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FOODR</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="static/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="static/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">FOODR</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br /><br />
          <h1 class="header center green-text text-darken-3">
            QUICK SELECT
          </h1>
          <div class="row center">
            <h5 class="header col s12 light">
              A responsive set of options for some quick recommendations
            </h5>
          </div>
          <br /><br />
        </div>
      </div>
      <div class="parallax">
        <img src="static/oranges.jpg" alt="Oranges" />
      </div>
    </div>

    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <a href="/quick">
                <h2 class="center green-text">
                  <i class="material-icons">flash_on</i>
                </h2>
              
              <h5 class="center">Cheap eats and munchies</h5>

              <p class="light">
                <center>For those looking for quick eats</center>
              </p>
              </a>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <a href="/caffeine">
                <h2 class="center black-text">
                  <i class="material-icons">group</i>
                </h2>
              </a>
              <h5 class="center">Caffeine pick-me-up</h5>
              <center>For those that need a caffeine boost and have cafe recommendations</center>
              <p class="light"></p>
              </a>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <a href="/surprise">
                <h2 class="center orange-text">
                  <i class="material-icons">settings</i>
                </h2>
              <h5 class="center">Surprise me</h5>

              <p class="light">
                <center>For the mood when you want to see what else is out there.</center>
              </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

     <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h2 class="header col s12 light">
              Price and mood filter
            </h2>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="static/atmosphere.jpg" alt="Unsplashed background img 3" />
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col center s12 m6 l3">
          </div>
          <div class="col center s12 m6 l3">
            <form action="/details_given" method="post">
                <p>
                  <label>
                    <input name="price" type="radio" id="1" value="1" />
                    <span class = "green-text text-darken-3">$</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="price" type="radio" id="2"value="2"/>
                    <span class = "green-text text-darken-3">$$</span>
                    
                  </label>
                </p>
            </p>
          </div>
          <div class="col center s12 m6 l3">
                  <p>
                    <label>
                      <input name="price" type="radio" id="3" value="3"/>
                      <span class = "green-text text-darken-3">$$$</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="price" type="radio" id="4" value="4"/>
                      <span class = "green-text text-darken-3">$$$$</span>
                    </label>
                  </p>
              </p>
            </div>
            <div class="col center s12 m6 l3">
          </div>
        </div>
      </div>
    </div>
          <div class="row">
            <div class="input-field col s12">
             <center> <button class="btn waves-effect waves-light" type="submit" value="happy" name="action">
                <i class="far fa-grin-beam" size="7x"></i>
              </button> </center>
            <center> <button class="btn waves-effect waves-light" type="submit" value="sad" name="action">
                <i class="far fa-frown-open"></i>
              </button> </center>
          </div>
          </div>
          </form>
        </div>
      </div>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">
              We are a team of college students working on this project like
              it's our full time job. Any amount would help support and continue
              development on this project and is greatly appreciated.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by
          <a class="brown-text text-lighten-3" href="http://materializecss.com"
            >Materialize</a
          >
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/materialize.js"></script>
    <script src="static/init.js"></script>
  </body>
</html>
